APP_NAME="SIPARTA"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://persuratan.example.go.id

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID
APP_TIMEZONE=Asia/Makassar

LOG_CHANNEL=daily
LOG_LEVEL=warning
LOG_DAILY_DAYS=30

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=persuratan_komdigi
DB_USERNAME=persuratan
DB_PASSWORD=
DB_SSLMODE=prefer

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

CACHE_STORE=file
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

VITE_APP_NAME="${APP_NAME}"
VITE_CKEDITOR_LICENSE_KEY=GPL
